<!DOCTYPE html>
<!--
 *  Copyright (c) 2014 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
-->
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="WebRTC reference app">
    <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <base target="_blank">

  <title>Error occured</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>
<h1> If you are using Desktop Chrome.  </h1>
<h1> Please click the camera icon in your address bar. </h1>
<img src="/img/camera_permission_pc.png">
<br />	
<h1> or go to [Settings - Show advanced settings - Privacy content settings - Media] to enable your camera.</h1>
<a href="https://support.google.com/chrome/answer/2693767?hl=en">Or you can visit here for details. </a>

<h1> If you are using Mobile Chrome.  </h1>
<h1> Please go to [Settings - Site settings - Camera or microphone] and enable gansr.com to access your camera. </h1>
<img src="/img/camera_permission_pc.png">


</body>
</html>